
    .footer{
        height:15%;
        position: fixed;
        bottom:0;
        left: 0;
        text-align: center;
        background-color:  rgb(231, 159, 126);
        width: 100%;
        color: white;
        border-top: 1px solid rgb(58, 58, 58) ;
        
}
.fa{
    font-size: 25px !important;
    text-decoration: none;
    width: 30px;
    text-align: center;
    padding: .20rem;
    margin: 2px  3px;
    border-radius: 25%;
    top: 20px;
    border:3px solid white;
    position: relative;
    justify-content: space-between;
}
.fa-facebook{
    background-color:rgb(64, 96, 163) ;
    color: white;
}
.fa-instagram{
    background-color: rgb(87, 61, 202);
    background-image: linear-gradient( to bottom,rgb(151, 48, 105),rgb(211, 0, 116), rgb(240, 185, 66));
    color: white;
}
