html{
    scroll-behavior: smooth;
    
}

body{
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.logo{
    font-style: italic;
    font-size: 25px;
}

.logo, .menucontainer {
    margin-top:0px;
    position: fixed;
    padding: 20px;
    background-color: rgb(61, 61, 61);
    width:100%;

}

.menu, .menucontainer {
     list-style: none;
     display: inline-block;
     text-decoration: none;
     
         
}

.menucontainer{
    background: black;
    margin-left:500px;
   
}


.menu a{
    text-decoration: none;
  align-content: center;
    font-weight: bolder;
    font-size: 17px;
    background-color: rgb(59, 59, 59);
    color: white;
    float: left;
    display: block;
   
    /*border: 1px solid white;*/
    padding: 10px 50px;
    width: 100%;
}

.menu a:hover{
    background-color: rgb(131, 128, 128);
}

#top , #middle, #bottom{
   width: 100%;
   top: 50%;
   height: 100vh;
   border-bottom: 1px solid white;
   padding: 0;
   margin-top:6%;
   text-align: center;
   display: block;
}

#top div, #middle div, #bottom div{
    position: relative;
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
}

.text{
    font-size: medium;
    display: block;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;

}
.header{
    margin-top: 10%;
}
.lala{
    color: black;
}
